body {
    background-color: rgb(203, 232, 245);
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    margin: 0; /* Remove default margin */
  }
  
  .main {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the main content takes at least the full viewport height */
  }
  
  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 5px 10px rgba(121, 127, 129, 0.5);
    padding: 10px 20px;
  }
  
  /* Logo */
  .logo {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(121, 127, 129, 0.5);
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
  }
  
  /* Dropdown */
  .dropdown {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .dropdown-button {
    background-color: white;
    border: none;
    margin-left: 5px;
    padding: 5px;
  }
  
  .dropdown-span {
    background-color: white;
    border: none;
    padding: 5px;
    border-radius: 5%;
  }
  
  /* Navigation */
  .nav {
    flex: 1;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(191, 193, 194, 0.3);
    padding: 20px;
    overflow: auto; /* Add scrollbar if needed */
  }
  
  /* Profile */
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(121, 127, 129, 0.3);
    padding: 20px;
  }
  
  .profile img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .profile-name {
    font-weight: bold;
  }
  
  .profile p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  /* Menu Items */
  .menuItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .menuicon {
    color: rgb(26, 185, 216);
  }
  
  .menu {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(121, 127, 129, 0.3);
    border-radius: 10px;
  }
  
  .menu p {
    margin: 0;
  }
  
  /* Logout */
  .logout {
    color: rgb(3, 53, 63);
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
    background-color: rgb(71, 184, 237);
  }
  
  /* Section 1 */
  .section1 {
    flex: 4;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(121, 127, 129, 0.3);
    padding: 20px;
    margin: 20px;
  }
  
  /* Right Navbar */
  .rigth-navbar {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
  }
  